@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.loading_video {
  width: 500px;
  height: 350px;
}
body {
  position: relative;
}
.service-learn-more {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
  color: #ffd02a;
}

.content-page-title {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 7px;
  width: 700px;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #ffd02a;
}
.container {
  max-width: 100%;
}

.height-100 {
  height: 100vh;
  overflow: hidden;
}
.qoute {
  width: 400px;
  text-align: center;
}
.cliping {
  color: transparent;
  margin: 0;
  padding: 20px;
  position: relative;
  z-index: 1;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-navbar a {
  margin: 20px;

  font-size: 20px;
}
.desktop-navbar {
  height: auto;
}
.service-icon {
  font-size: 50px;
  margin-top: 20px;
  color: #21759b;
}
.shopify {
  height: 50px;
  width: 50px;
  margin-top: 17px;
  margin-left: 4px;
}
.service-icon-react {
  font-size: 50px;
  margin-top: 20px;
  color: #61dbfb;
}
.menu-icon {
  font-size: 28px;
}
.header {
  width: 100%;
  height: auto;
}
.mobile-menu div {
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 3px;
}
.mobile-menu a div {
  font-weight: bolder;

  font-family: var(--font-paytone);
  font-size: 32px;
}
.mobile-menu-main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #19181d;
  border-radius: 8px;
  color: white;
}
.mobile-social {
  color: white;
  padding: 10px;
  font-size: 45px;
  transition: all 0.2s ease-in;
}
.mobile-social:hover {
  color: #ffd02a;
}
.makeBlur {
  filter: blur(10px);
}
.mobile-menu-list {
  float: left;
  font-size: 18px;
  letter-spacing: 2px;
}
.loading_video_main {
  width: 300px;
  height: 240px;
}
.contact-mobile {
  background: #ffd02a;

  padding: 5px 10px !important;
  margin-top: 20px;
  color: black;
  border-radius: 5px;
}
.case-study-main {
  background-color: #ffd02a;
  height: 75vh;
  width: 400px;
}
.lett {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 20px;
}
.desk-contact {
  background-color: #ffd02a;
  font-weight: bold;

  padding: 7px;
  border-radius: 7px;
}
.blur {
  filter: blur(2px);
}
.welcome {
  height: 90vh;
}
.loading_video_mobile {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
}
.new-mobile-hero a:hover {
  color: #ffd02a;
}
.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.client-heading {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.service-subheading {
  font-size: 18px;
  width: 600px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.services-category {
  height: auto;
  width: 100%;
  position: relative;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.line {
  height: 1px;
  width: 30px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translate(0, -50%);
}
.about-us-content h2 strong {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 34px;
  letter-spacing: 7px;
}
.about-us-content p {
  font-size: 20px;
}
.about-us-content h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}
.about-us-content {
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero-social-icon {
  color: black;
  font-size: 35px;
  margin: 10px;
  transition: all 300ms ease-in;
}
.hero-social-icon:hover {
  color: #ffd02a;
}
.hero-button {
  background: #2b9adf;
  padding: 12px;
  font-size: 17px;
  border-radius: 10px;
  width: 100px;
  font-weight: bold;
}
.hero-service {
  font-family: var(--font-enri);
}
.service-content {
  margin: 30px;
  background-color: #ffffff;
  border-radius: 29px;
  background: #ffffff;
  width: 275px;
  /*
  box-shadow: -7px -7px 14px #d9d9d9, 7px 7px 14px #ffffff;
  box-shadow: -7px -7px 14px #d9d9d9, 7px 7px 14px #ffffff;
  */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.service-content:hover {
  border-radius: 29px;
  box-shadow: -11px -11px 22px #bdbdbd, 11px 11px 22px #ffffff;
}
.service-content h3 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 7px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.service-content p {
  margin-bottom: 20px;
}

.service-page .service-content {
  margin: 30px;
  background-color: #ffffff;
  border-radius: 29px;
  background: #ffffff;
  width: 450px;
  /*
  box-shadow: -7px -7px 14px #d9d9d9, 7px 7px 14px #ffffff;
  box-shadow: -7px -7px 14px #d9d9d9, 7px 7px 14px #ffffff;
  */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.service-page .service-content:hover {
  border-radius: 29px;
  box-shadow: -11px -11px 22px #bdbdbd, 11px 11px 22px #ffffff;
}

.service-page .service-content p {
  margin: 20px;
}
.submenu {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;

  box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.5);
}
.submenu li {
  display: flex;
}
.submenu a {
  font-size: 17px;
}
.mobile-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.mobile-hero::before {
  content: "";
  background-image: url("/5xDL.gif");
  background-size: cover;
  background-position: center;
  filter: blur(10px); /* Adjust the blur amount as needed */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.mobile-hero .hero-service {
  font-size: 35px;
}
.mobile-hero .provide {
  font-size: 18px;
  font-weight: bold;
}
.mobile-hero a {
  font-weight: bold;
  background: #2b9adf;
}
.pc-hide {
  display: none;
}
.casestudy-card {
  width: 400px;
  height: 300px;
}
.casestudy-card-2 {
  width: 500px;
  height: 400px;
}
.caseCard {
  display: flex;
}
.caseCard:hover img {
  filter: blur(1px);
}
.client-logo {
  transition: all 0.2s ease-out;
}
.client-logo:hover {
  scale: 1.3;
}
.contact-form-head {
  background-color: black;
  background: black;
  color: #ffd02a;
  border-radius: 15px;
  height: 100%;
  text-align: left;
}
input::placeholder {
  padding: 10px;
}
textarea::placeholder {
  padding: 10px;
}
.mern-icon {
  width: 150px;
  height: 100px;
  padding-top: 25px;
}
.design-icon img {
  width: 50px;
  height: 50px;
}
.design-icon {
  padding-top: 20px;
}

.article-card {
  width: 400px;
  height: 240px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.article-card img {
  width: 100%;
  height: auto;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  font-weight: bold;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
  margin: 0;
}

.article-card .date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 4px;
}

.article-card .title {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.service-title-img {
  display: none;
}
.service-post {
  text-align: center;
  width: 900px;
  margin-top: 50px;
}

.service-post h2 strong,
.blockcontent-h2 {
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.service-post h2 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.service-post h3 {
  font-size: 26px;
}
.service-post h4 {
  font-size: 20px;
}
.service-post p {
  font-size: 18px;
}

.service-post img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-image-service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.main-image-service div {
  width: 900px;
}
.blog-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
tr {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}

.contact-form input {
  border: 1px solid rgb(197, 197, 197);
  width: 300px;
  height: 70px;
  margin: 10px;
  border-radius: 15px;
}
.our-work {
  color: black;
  background: #ffd02a;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.our-work-heading {
  color: black;
  background: #ffd02a;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.our-work:hover {
  background: black;
  color: #ffd02a;
}
.our-work:hover + .chat-contact {
  background: #ffd02a;
  color: black;
}
.blog-main-title {
  text-transform: uppercase;
  letter-spacing: 10px;
}
.blog-item {
  width: 500px;
}
.blog-content-title {
  font-weight: bold;
  font-size: 20px;
}
.chat-contact {
  color: #ffd02a;
  background: black;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.chat-contact:hover {
  background: #ffd02a;
  color: black;
}
.contact-form textarea {
  border: 1px solid rgb(197, 197, 197);
  border-radius: 15px;
  width: 625px;
  height: 100px;
  margin: 10px;
}
.contact-form button {
  background: black;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 10px;
  color: white;
}

.slider {
  margin-top: 200px;
}
.case-title-mobile {
  background: #ffd02a;
  border-radius: 15px;
  margin: 10px;
  margin-top: 40px;
}
.footer-er-footer-main {
  background: #19181d;
  width: 90%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.bl-bg-menu-icon {
  color: white;
  font-size: 28px;
}

footer {
  background-color: black;
  color: white;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .service-page .service-content {
    width: 350px;
  }
  .blog-item {
    width: 100%;
  }
  .case-study-main {
    background-color: none;
  }
  .service-post {
    width: 100%;
  }
  .contact-form textarea {
    border: 1px solid black;
    width: 300px;
    height: 100px;
    margin: 10px;
  }
  .contact-form input {
    width: 300px;
  }
  .article-card {
    width: 300px;
    height: auto;
  }
  .services-category {
    background-image: none;
    background-repeat: no-repeat;
  }

  .service-title-img {
    display: flex;
    width: 100%;
    height: auto;
  }
  .article-card {
    width: 370px;
    height: 225px;
    margin-bottom: 15px;
  }
  .article-card .title {
    font-size: 19px;
  }
  .services-category {
    height: auto;
  }
  .mobile-hide {
    display: none;
  }
  .pc-hide {
    display: block;
  }
}
@media screen and (max-width: 1331px) {
  .hero-service {
    font-size: 70px;
  }
  .desktop-navbar {
    font-size: 16px;
  }

  .desktop-navbar ul li {
    margin: 10px;
  }
}
@media screen and (max-width: 1176px) {
  .hero-service {
    font-size: 60px;
  }
}
