@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

.height-100 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.qoute {
  width: 400px;
  text-align: center;
}

.desktop-navbar a {
  margin: 20px;

  font-size: 20px;
}
.desktop-navbar {
  height: auto;
}
.service-icon {
  font-size: 50px;
  margin-top: 20px;
  color: #21759b;
}
.shopify {
  height: 50px;
  width: 50px;
  margin-top: 17px;
  margin-left: 4px;
}
.service-icon-react {
  font-size: 50px;
  margin-top: 20px;
  color: #61dbfb;
}
.menu-icon {
  font-size: 28px;
}
.header {
  width: 100%;
  height: auto;
}
.mobile-menu div {
  padding: 15px;
}
.mobile-menu a div {
  font-weight: bold;
}
.mobile-menu-main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
}

.makeBlur {
  filter: blur(10px);
}
.mobile-menu-list {
  float: right;
  font-size: 18px;
  letter-spacing: 0.2px;
}
.contact-mobile {
  background: #2b9adf;
  padding: 7px !important;
  color: black;
  border-radius: 5px;
}
.desk-contact {
  background-color: #93c310;
  padding: 7px;
  border-radius: 7px;
}
.blur {
  filter: blur(2px);
}
.welcome {
  height: 90vh;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.services-category {
  height: auto;
  width: 100%;
  position: relative;
  background-image: url("/service-2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.hero-button {
  background: #2b9adf;
  padding: 12px;
  font-size: 17px;
  border-radius: 10px;
  width: 100px;
  font-weight: bold;
}
.hero-service {
  font-family: var(--font-enri);
}
.service-content {
  margin: 30px;
  background-color: #ffffff;
  border-radius: 29px;
  background: #ffffff;
  width: 300px;
  /*
  box-shadow: -7px -7px 14px #d9d9d9, 7px 7px 14px #ffffff;
  box-shadow: -7px -7px 14px #d9d9d9, 7px 7px 14px #ffffff;
  */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.service-content:hover {
  border-radius: 29px;
  box-shadow: -11px -11px 22px #bdbdbd, 11px 11px 22px #ffffff;
}
.service-content h3 {
  font-weight: bold;
  font-size: 22px;
  margin: 30px;
}
.service-content p {
  margin-bottom: 20px;
}

.service-page .service-content {
  margin: 30px;
  background-color: #ffffff;
  border-radius: 29px;
  background: #ffffff;
  width: 500px;
  /*
  box-shadow: -7px -7px 14px #d9d9d9, 7px 7px 14px #ffffff;
  box-shadow: -7px -7px 14px #d9d9d9, 7px 7px 14px #ffffff;
  */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.service-page .service-content:hover {
  border-radius: 29px;
  box-shadow: -11px -11px 22px #bdbdbd, 11px 11px 22px #ffffff;
}
.service-page .service-content h3 {
  font-weight: bold;
  margin: 30px;
}
.service-page .service-content p {
  margin: 20px;
}
.submenu {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;

  box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.5);
}
.submenu li {
  display: flex;
}
.submenu a {
  font-size: 17px;
}
.mobile-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.mobile-hero::before {
  content: "";
  background-image: url("/5xDL.gif");
  background-size: cover;
  background-position: center;
  filter: blur(10px); /* Adjust the blur amount as needed */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.mobile-hero .hero-service {
  font-size: 35px;
}
.mobile-hero .provide {
  font-size: 18px;
  font-weight: bold;
}
.mobile-hero a {
  font-weight: bold;
  background: #2b9adf;
}
.pc-hide {
  display: none;
}
.casestudy-card {
  width: 400px;
  height: 300px;
}
.casestudy-card-2 {
  width: 500px;
  height: 400px;
}
.caseCard {
  display: flex;
}
.caseCard:hover img {
  filter: blur(1px);
}
.client-logo {
  transition: all 0.2s ease-out;
}
.client-logo:hover {
  scale: 1.3;
}
.mern-icon {
  width: 150px;
  height: 100px;
  padding-top: 25px;
}
.design-icon img {
  width: 50px;
  height: 50px;
}
.design-icon {
  padding-top: 20px;
}

.article-card {
  width: 500px;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.article-card img {
  width: 100%;
  height: auto;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  font-weight: bold;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
  margin: 0;
}

.article-card .date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 4px;
}

.article-card .title {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.service-title-img {
  display: none;
}
.service-post {
  text-align: center;
  width: 900px;
  margin-top: 50px;
}
.service-blog h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
}
.service-post h2 {
  font-size: 26px;
}
.service-post h3 {
  font-size: 26px;
}
.service-post h4 {
  font-size: 20px;
}
.service-post ul li {
  margin-top: 30px;
  margin-bottom: 30px;
}
.service-blog {
  margin-top: 70px;
}
.service-post img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-image-service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.main-image-service div {
  width: 900px;
}
.blog-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
tr {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
.contact-form input {
  border: 1px solid black;
  width: 350px;
  height: 70px;
  margin: 10px;
}
.contact-form textarea {
  border: 1px solid black;
  width: 715px;
  height: 100px;
  margin: 10px;
}

.slider {
  margin-top: 200px;
}
footer {
  background-color: black;
  color: white;
}
footer div {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .contact-form textarea {
    border: 1px solid black;
    width: 350px;
    height: 100px;
    margin: 10px;
  }
  .article-card {
    width: 300px;
    height: auto;
  }
  .services-category {
    background-image: none;
    background-repeat: no-repeat;
  }

  .service-title-img {
    display: flex;
    width: 100%;
    height: auto;
  }
  .article-card {
    width: 370px;
    height: 225px;
    margin-bottom: 15px;
  }
  .article-card .title {
    font-size: 19px;
  }
  .services-category {
    height: auto;
  }
  .mobile-hide {
    display: none;
  }
  .pc-hide {
    display: block;
  }
  .pc-hide a {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-left: 110px;
    margin-right: 110px;
    border-radius: 10px;
  }
  .pc-hide a div {
    background: #2b9adf;
    width: 100px;
    padding: 7px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1331px) {
  .hero-service {
    font-size: 70px;
  }
  .desktop-navbar {
    font-size: 16px;
  }

  .desktop-navbar ul li {
    margin: 10px;
  }
}
@media screen and (max-width: 1176px) {
  .hero-service {
    font-size: 60px;
  }
}
